@import 'style';
@import '_button';

img{
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#start-screen{
    transition: all .5s ease-out;
    cursor: pointer;
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
    padding: 20px 0;
    height: 100vh;
    width: 100%;
    position: fixed;
    transform: translate(0,0);
    z-index: 10000;
    h1{
        font-weight: bold;
        color: #fff;
        text-align: center;
    }
    .img-container{
        text-align: center;
        img{
            margin: 20px auto;
        }
    }
    h5{
        color: #fff;
        text-align: center;
    }
}
#start-screen.hidden{
    transform: translateY(-100vh);
}

#selected-screen{
    transition: all .5s ease-out;
    cursor: pointer;
    background-color: #fc5296;
    background-image: linear-gradient(315deg, #fc5296 0%, #f67062 74%); 
    padding: 20px 0;
    height: 100vh;
    width: 100%;
    position: fixed;
    transform: translate(0,0);
    z-index: 10001;
    h1{
        font-weight: bold;
        color: #fff;
        text-align: center;
    }
    .img-container{
        text-align: center;
        img{
            margin: 20px auto;
        }
    }
    h5{
        color: #fff;
        text-align: center;
    }
}
#selected-screen.hidden{
    transform: translateY(-100vh);
}

#winner-screen{
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    transition: all .5s ease-out;
    cursor: none;
    padding: 20px 0;
    height: 100vh;
    width: 100%;
    position: fixed;
    transform: scale(1,1);
    z-index: 2;
    .container{
        position: relative;
        height: 100%;
    }
    #winner-image-1{
        position: absolute;
        top: 0;
        width: 275px;
    }
    #winner-image-2{
        position: absolute;
        right: 10px;
        top: 50%;
        width: 150px;
    }
    h1{
        font-weight: bold;
        position: absolute;
        color: black;
        -webkit-text-fill-color: white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        top: 25%;
        left: 50%;
        text-shadow: #474747 3px 5px 2px;
        transform: translateX(-50%);
        text-align: center;
    }
    button{
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}
#winner-screen.hidden{
    transform: scale(0,0);
}
#cursor{
    width: 120px;
    position: fixed;
    transition: transform .2s linear;
    z-index: 3;
}
#cursor.clicked{
    transform: rotate(-60deg) translateX(-20px);
}

#game-container{
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    top: 0;
    left: 0;
    position: relative;
    background: linear-gradient(to bottom, #b7eaff 0%,#94dfff 100%);
    height: 100vh;
    cursor:none;
    #grounds{
        .ground{
            width: 100%;
            height: 300px;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}

#buaya{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#health-bar-container{
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    #health-bar{
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        width: 800px;
        height: 10px;
        background-color: #dfdfdfdf;
        #bar{
            content: '';
            display: block;
            background-color: #F07470;
            width: 100%;
            height: 100%;
        }
    }
    #boss{
        text-align: center;
        font-weight: bold;
    }
}

#main-char{
    position: absolute;
    left: 100px;
    bottom: 10px;
    width: 200px;
    z-index: 4;
}

#dialogues-bar{
    background-color: white;
    font-size: 25px;
    border: 1px solid black;
    padding: 10px 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-weight: bold;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}